


.form__label--article {
  margin-top: 21px;
}

.form__textarea {
  min-height: 168px;
}

.form__tag-wrapper {
  display: flex;
  column-gap: 17px;
}
.form__tag-wrapper button {
  padding: 9px 36px;
  border: 1px solid;
  border-radius: 4px;
}
.form__tag-delet {
  color: #f5222d;
}
.form__tag-add {
  color: #1890ff;
}
